@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100,100italic);
@import './loader.scss';

//variables
//------------------------------

$gradient-black: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.40) 21%,rgba(0,0,0,0.75) 73%,rgba(0,0,0,0.95) 100%);
$bg-primary: $gray-lighter;
$drawer-column-container-width: 225px;
$font-size-h3: 1.25rem !important;
$bg-dark: $gray-dark;
$text-light: #eee;

//typography variables
//------------------------------


//mixins
//------------------------------

@mixin slide($start, $finish) {
  @keyframes {
    from {left:$start;}
    to {left: $finish;}
  }
}

//body, container styles
//--------------------------------

body {
  background: $bg-primary;
}

.container-fluid {
  display: inline-flex;
  padding-left: 0px;
}

.main {
  position: absolute;
  animation-name: slideLeft;
  animation-duration: 0.5s;
  width: 100%;

  .jumbotron {
    width: 100%;
    background: $bg-dark;
    color: $text-light;
  }
}

//type//------------------------

h2 {
  font-family: 'Oswald';
}

h3, h4 {
  font-family: 'Roboto';
}

h4 {
  font-weight: 700;
}

h3 {
  font-weight: 100;
}
.recipe-subheading {
  font-family: 'Open Sans';
  a {
    font-style: italic;
    text-transform: uppercase;
  }
}

p, span, a, .card-text {
  font-family: 'Open Sans';
}

//nav , drawer-column styles
//-------------------------------

.drawer-column-container {
    position: fixed;
    z-index: 4;
    background: $bg-primary;
    height: 100%;
    width: $drawer-column-container-width;
    .drawer-column {
      padding-left: 12px;
    }
    border: 1px solid $gray-light;
}

.open {
  .drawer-column-container {
    animation-name: slideIn;
    animation-duration: 0.5s;
  }
  .main {
    left: $drawer-column-container-width;
    animation-name: slideLeft;
    animation-duration: 0.5s;
  }
}

.closed {
  .drawer-column-container {
    animation-name: slideOut;
    animation-duration: 0.5s;
    left: 0-$drawer-column-container-width;
  }
  .main {
    animation-name: slideRight;
    animation-duration: 0.5s;
  }
}

.navbar {
  border-radius: 0px !important;
  border-bottom: 1px solid $gray-light;
  position: fixed;
  width: 100%;
  z-index: 5;
  padding-top: $spacer;
  background: $bg-primary;
}

.app-header-container {
  height: 75px;
}

//Card styles
//--------------------------------

.card {
  .card-img-top {
    width: 100%;
    border-radius: 0px;
  }

  .card-block {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background: $gradient-black;
    color: $text-light;
    width: 100%;
    min-height: 30%;
  }
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
}

//recipe styles
//------------------------------------

.recipe-header.jumbotron {
  .recipe-header-img {
    img {
      width: 100%;
    }
    // padding-right: 5 * $spacer;
  }
  .recipe-header-block {
    padding: 7%;
  }

  background: $bg-dark;
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  .card-img-top {
    width: 50%;
    float: right;
  }
}

.arrow {
  width: 0px;
  border-left: 30px solid $bg-dark;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 5;
  position: absolute;
  top: 40%;
}


//utils
//-----------------------------------
.man {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

.pan {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}

.plm {
  padding-left: 10px;
}

.divider {
  width:100%;
  height: 0px;
  border-bottom: 1px solid $brand-primary;
  margin-top: $spacer;
  margin-bottom: $spacer;
}

//Animations
//---------------------------------------

//TODO break these out into a mixin

@keyframes slideIn {
    from {left: 0-$drawer-column-container-width;}
    to {left:0px;}
}

@keyframes slideOut {
    from {left:0px;}
    to {left: 0-$drawer-column-container-width;}
}

@keyframes slideLeft {
  from {left: 0px}
  to {left: $drawer-column-container-width;}
}

@keyframes slideRight {
  from {left: $drawer-column-container-width;}
  to {left: 0px}
}


//media queries
//------------------------------------------

@media screen and (max-width: 768px) {
  // .recipe-header-block {
  //   position: absolute;
  //   z-index: 1;
  //   bottom: 0;
  //   background: $gradient-black;
  //   color: $text-light;
  //   width: 100%;
  //   min-height: 30%;
  // }
}
