@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Oswald);

//variables
//------------------------------

$gradient-black: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.40) 21%,rgba(0,0,0,0.75) 73%,rgba(0,0,0,0.95) 100%);
$bg-primary: $gray-lighter;
$drawer-column-container-width: 225px;
$font-size-h3: 1.25rem !important;

//mixins
//------------------------------

@mixin slide($start, $finish) {
  @keyframes {
    from {left:$start;}
    to {left: $finish;}
  }
}

//body, container styles
//--------------------------------

body {
  background: $bg-primary;
}

.container-fluid {
  display: inline-flex;
  padding-left: 0px;
}

.main {
  position: absolute;
  animation-name: slideLeft;
  animation-duration: 0.5s;
}

//type//------------------------

h2, h4 {
  font-family: 'Oswald';
}

//nav , drawer-column styles
//-------------------------------

.drawer-column-container {
    position: fixed;
    z-index: 4;
    background: $bg-primary;
    height: 100%;
    width: $drawer-column-container-width;
    .drawer-column {
      padding-left: 12px;
    }
    border: 1px solid $gray-light;
}

.open {
  .drawer-column-container {
    animation-name: slideIn;
    animation-duration: 0.5s;
  }
  .main {
    left: $drawer-column-container-width;
    animation-name: slideLeft;
    animation-duration: 0.5s;
  }
}

.closed {
  .drawer-column-container {
    animation-name: slideOut;
    animation-duration: 0.5s;
    left: 0-$drawer-column-container-width;
  }
  .main {
    animation-name: slideRight;
    animation-duration: 0.5s;
  }
}

.navbar {
  border-radius: 0px !important;
  border-bottom: 1px solid $gray-light;
  position: fixed;
  width: 100%;
  z-index: 5;
  padding-top: $spacer;
  background: $bg-primary;
}

.app-header-container {
  height: 75px;
}

//Card styles
//--------------------------------

.card {
  .card-img-top {
    width: 100%;
    border-radius: 0px;
  }

  .card-block {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background: $gradient-black;
    color: $gray-lightest;
    width: 100%;
    min-height: 30%;
  }
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
}

//utils
//-----------------------------------
.man {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

.pan {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}

.plm {
  padding-left: 10px;
}

.divider {
  width:100%;
  height: 0px;
  border-bottom: 1px solid $brand-primary;
  margin-top: $spacer;
  margin-bottom: $spacer;
}

//Animations
//---------------------------------------

//TODO break these out into a mixin

@keyframes slideIn {
    from {left: 0-$drawer-column-container-width;}
    to {left:0px;}
}

@keyframes slideOut {
    from {left:0px;}
    to {left: 0-$drawer-column-container-width;}
}

@keyframes slideLeft {
  from {left: 0px}
  to {left: $drawer-column-container-width;}
}

@keyframes slideRight {
  from {left: $drawer-column-container-width;}
  to {left: 0px}
}
